<%= form_with(model: lead, local: true) do |form| %>
  <% if lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% lead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :full_name_of_the_contact %>
    <%= form.text_field :full_name_of_the_contact %>
  </div>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>

  <div class="field">
    <%= form.label :e-mail %>
    <%= form.text_field :e-mail %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :project_name %>
    <%= form.text_field :project_name %>
  </div>

  <div class="field">
    <%= form.label :Project_description %>
    <%= form.text_area :Project_description %>
  </div>

  <div class="field">
    <%= form.label :department_in_charge_of_the_elevators %>
    <%= form.text_field :department_in_charge_of_the_elevators %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message %>
  </div>

  <div class="field">
    <%= form.label :attached_file %>
    <%= form.text_field :attached_file %>
  </div>

  <div class="field">
    <%= form.label :date_of_the_contact %>
    <%= form.date_select :date_of_the_contact %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
