<p id="notice"><%= notice %></p>

<p>
  <strong>Full name of the contact:</strong>
  <%= @lead.full_name_of_the_contact %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @lead.company_name %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @lead.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @lead.phone %>
</p>

<p>
  <strong>Project name:</strong>
  <%= @lead.project_name %>
</p>

<p>
  <strong>Project description:</strong>
  <%= @lead.project_description %>
</p>

<p>
  <strong>Department in charge of the elevators:</strong>
  <%= @lead.department_in_charge_of_the_elevators %>
</p>

<p>
  <strong>Message:</strong>
  <%= @lead.message %>
</p>

<p>
  <strong>Attached file:</strong>
  <%= @lead.attached_file %>
</p>

<p>
  <strong>Date of the contact:</strong>
  <%= @lead.date_of_the_contact %>
</p>


