<!-- BUTTON CALLOUT -->
<a href="#" class="btn btn-lg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
    <span class="font-lato fs-30">
        <strong>Commercial Services</strong> 
    </span>
</a>
<!-- /BUTTON CALLOUT -->


<!-- Services -->
<section id="team">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <div class="container">
        <div class="row">
            <!-- item -->
            <div class="col-md-4 col-sm-6">

                <div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
                    <div class="front">
                        <div class="box1 box-default">
                            <span class="box-icon-title">
                                <%= image_tag("AdobeStock_146216308.jpeg", alt: "", class: "img-fluid") %>                
                                <h2>Design</h2>
                            </span>
                        </div>
                    </div>

                    <div class="back">
                        <div class="box2 box-default">
                            <h4 class="m-0">Design</h4>

                            <hr />

                            <p>We can assist to find the style that you want.</p>

                            <hr />

                        </div>
                    </div>
                </div>

            </div>
            <!-- /item -->

            <!-- item -->
            <div class="col-md-4 col-sm-6">

                <div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
                    <div class="front">
                        <div class="box1 box-default">
                            <span class="box-icon-title">
                                <%= image_tag("taipei101.jpg", alt: "", class: "img-fluid") %>                
                                <h2>Elevator Systems</h2>
                            </span>
                        </div>
                    </div>

                    <div class="back">
                        <div class="box2 box-default">
                            <h4 class="m-0">Elevator Systems</h4>

                            <hr />

                            <p>Our experts can help put in place various types of elevator systems.</p>

                            <hr />

                        </div>
                    </div>
                </div>

            </div>
            <!-- /item -->

            <!-- item -->
            <div class="col-md-4 col-sm-6">

                <div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
                    <div class="front">
                        <div class="box1 box-default">
                            <span class="box-icon-title">
                                <img style="px;" class="img-fluid" src="assets/images/" alt="" />
                                <%= image_tag("AdobeStock_41696502.jpeg", alt: "", class: "img-fluid", height: 350) %>                
                                <h2>Maintenance and Repair</h2>
                            </span>
                        </div>
                    </div>

                    <div class="back">
                        <div class="box2 box-default">
                            <h4 class="m-0">Maintenance and Repair</h4>

                            <hr />

                            <p>We provide continuos maintenance and repairs in order to keep your elevators running smoothly.</p>

                            <hr />

                        </div>
                    </div>
                </div>

            </div>
            <!-- /item -->

        </div>

    </div>
</section>
<!-- /Services -->




<!-- -->
<section>
    <div class="container">

        <!-- FEATURED BOXES 3 -->
        <div class="row">
            <div class="col-md-3 col-6 mb-30">
                <div class="text-center">
                    <i class="ico-light ico-lg ico-rounded ico-hover et-piechart"></i>
                    <h4>Analytics</h4>
                    <p>We provide in-depth analysis on elevator perfomance.</p>
                </div>
            </div>

            <div class="col-md-3 col-6 mb-30">
                <div class="text-center">
                    <i class="ico-light ico-lg ico-rounded ico-hover et-strategy"></i>
                    <h4>Development</h4>
                    <p>"We've developed many different designs for our clients."</p>
                </div>
            </div>

            <div class="col-md-3 col-6 mb-30">
                <div class="text-center">
                    <i class="ico-light ico-lg ico-rounded ico-hover et-profile-female"></i>
                    <h4>Clients</h4>
                    <p>Here, we always out the clients first</p>
                </div>
            </div>

            <div class="col-md-3 col-6 mb-30">
                <div class="text-center">
                    <i class="ico-light ico-lg ico-rounded ico-hover et-bargraph"></i>
                    <h4>Statistics</h4>
                    <p>The most up to date statistics for elevator technology.</p>
                </div>
            </div>

        </div>
        <!-- /FEATURED BOXES 3 -->

    </div>
</section>
<!-- / -->






<!-- Parallax -->
<section class="parallax parallax-1" style="background-image: url(<%= image_path 'AdobeStock_66781279.jpeg' %>);">

    <div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

    <div class="container">

        <div class="text-center">
            <h2 class="fs-40 fw-300">Get an estimate today.</h2>
            <a class="btn btn-primary btn-lg" href="quote.html">GET A QUOTE <i class="fa fa-angle-right"></i></a>
        </div>

    </div>
</section>
<!-- /Parallax -->




<!-- Clients -->
<section class="alternate">
    <div class="container">

        <div class="heading-title heading-dotted text-center">
            <h2>Regular Corporate Customers</h2>
        </div>

        <ul class="row clients-dotted list-inline">
            <li class="col-md-3 col-sm-3 col-6">
                <a>
                    <%= image_tag("logos/Walmart_logo.jpg", alt: "falling", class: "img-fluid") %>                
                </a>
            </li>
            <li class="col-md-3 col-sm-3 col-6">
                <a>
                    <%= image_tag("logos/cbc_logo.jpg", alt: "falling", class: "img-fluid") %>                
                </a>
            </li>
            <li class="col-md-3 col-sm-3 col-6">
                <a>
                    <%= image_tag("logos/videotron_logo.jpg", alt: "falling", class: "img-fluid") %>                
                </a>
            </li>
            <li class="col-md-3 col-sm-3 col-6">
                <a>
                    <%= image_tag("logos/h_inn_logo.png", alt: "falling", class: "img-fluid") %>                
                </a>
            </li>						
        </ul>

    </div>
</section>
<!-- /Clients -->