<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

<!-- TOP NAV -->
<header id="topNav">
    <div class="container">

        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Logo -->
        <a class="logo float-left scrollTo" href="#top">
<<<<<<< HEAD

=======
<<<<<<< HEAD
=======

>>>>>>> website_conversion
>>>>>>> main
            <img src="assets/images/R2.png" alt="" />
        </a>

        <!-- 
            Top Nav 
            
            AVAILABLE CLASSES:
            submenu-dark = dark sub menu
        -->
        <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
            <nav class="nav-main">

                <!-- 
                    .nav-onepage
                    Required for onepage navigation links
                    
                    Add .external for an external link!
                -->
                <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                    <li class="active"><!-- HOME -->
                        <a id="home-nav" href="#top">
                            HOME
                        </a>
                    </li>
                    <li><!-- SERVICES -->
                        <a id="services-nav" href="#services" class="dropdown-toggle">
                            SERVICES
                        </a>
                        <ul class="dropdown-menu">
<<<<<<< HEAD
                            <li><%= link_to 'Residential View', residential_path %></li>
                            <li><%= link_to 'Commercial View', commercial_path %></li>
                            <li><%= link_to 'Get a Quote', quote_path %></li>
=======
<<<<<<< HEAD
                            <li><%= link_to 'Residential View', 'pages#residential' %></li>
                            <li><%= link_to 'Commercial View', '#' %></li>
                            <li><%= link_to 'Get a Quote', '#' %></li>
=======
                            <li><%= link_to 'Residential View', residential_path %></li>
                            <li><%= link_to 'Commercial View', commercial_path %></li>
                            <li><%= link_to 'Get a Quote', quote_path %></li>
>>>>>>> website_conversion
>>>>>>> main
                        </ul>
                    </li>
                    <li><!-- PORTFOLIO -->
                        <a id="portfolio-nav" href="#portfolio">
                            PORTFOLIO
                        </a>
                    </li>
                    <li><!-- NEWS -->
                        <a id="news-nav" href="#news">
                            NEWS
                        </a>
                    </li>
                    <li><!-- CLIENTS -->
                        <a id="clients-nav" href="#clients">
                            CLIENTS
                        </a>
                    </li>
                    <li><!-- CONTACT -->
                        <a id="contact-nav" href="#contact">
                            CONTACT
                        </a>
                    </li>
                    <li><!-- LOGIN -->
                        <a id="login-nav" href="#">
                            LOGIN
                        </a>
                    </li>
                    <li><!-- ADMIN -->
                        <a id="admin-nav" href="#">
                            ADMIN
                        </a>
                    </li>
                </ul>

            </nav>
        </div>

    </div>
</header>
<!-- /Top Nav -->

</div>






<<<<<<< HEAD
=======
<<<<<<< HEAD
<hr class="m-0" /><!-- 1px line separator -->


=======
>>>>>>> main
<!-- REVOLUTION SLIDER -->
<div class="slider fullwidthbanner-container roundedcorners">
    <!--
        Navigation Styles:
        
            data-navigationStyle="" theme default navigation
            
            data-navigationStyle="preview1"
            data-navigationStyle="preview2"
            data-navigationStyle="preview3"
            data-navigationStyle="preview4"
            
        Bottom Shadows
            data-shadow="1"
            data-shadow="2"
            data-shadow="3"
            
        Slider Height (do not use on fullscreen mode)
            data-height="300"
            data-height="350"
            data-height="400"
            data-height="450"
            data-height="500"
            data-height="550"
            data-height="600"
            data-height="650"
            data-height="700"
            data-height="750"
            data-height="800"
    -->
    <!--Chagned the slider speed in demo.revolution_slider.js line 54-->
    <div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
        <ul class="hide">
        
            <!-- SLIDE 1 -->
            <li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Home" >
                <!-- MAIN IMAGE -->
                <img src="assets/images/slider/AdobeStock_53477661.jpeg" alt="cover image 1"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                <div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

                <div class="tp-caption font-roboto skewfromleft tp-resizeme"
                    data-x="50"
                    data-y="100" 
                    data-speed="500"
                    data-start="1500"
                    data-easing="Cubic.easeOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="500"
                    style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
                        Welcome to <br />
                        Rocket Elevators
                </div>

                <div class="tp-caption skewfromrightshort tp-resizeme"
                    data-x="50"
                    data-y="300" 
                    data-speed="500"
                    data-start="1000"
                    data-easing="easeInCirc"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="500"
                    style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
                        "Here we believe that the sky's the limit." <br />
                </div>

                <div class="tp-caption sfb tp-resizeme"
                    data-x="50"
                    data-y="410" 
                    data-speed="500"
                    data-start="1500"
                    data-easing="Power3.easeIn"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="1"
                    data-endelementdelay="0.1"
                    data-endspeed="500"
                    style="z-index: 4; max-width: auto;">
                        <a class="btn btn-primary btn-md" href="#services">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
                </div>

                <div class="tp-caption sfb tp-resizeme"
                    data-x="250"
                    data-y="410" 
                    data-speed="500"
                    data-start="1500"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="500"
                    style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
                        <a class="btn btn-default btn-md" href="quote.html">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
                </div>
            </li>

            <!-- SLIDE 2 -->
            <li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Residential" >
                <!-- MAIN IMAGE -->
                <img src="assets/images/slider/AdobeStock_72034307.jpeg" alt="cover image 2"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                
                <div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

                <div class="tp-caption font-roboto skewfromleft tp-resizeme"
                    data-x="50"
                    data-y="100" 
                    data-speed="500"
                    data-start="1500"
                    data-easing="Cubic.easeOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="500"
                    style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
                        Residential Building <br />
                        Service
                </div>

                <div class="tp-caption skewfromrightshort tp-resizeme"
                    data-x="50"
                    data-y="300" 
                    data-speed="500"
                    data-start="1000"
                    data-easing="easeInCirc"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="500"
                    style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
                        Our team is the best in the field, <br />
                        when it comes to matching the design with your vision.
                </div>

                <div class="tp-caption sfb tp-resizeme"
                    data-x="50"
                    data-y="410" 
                    data-speed="500"
                    data-start="1500"
                    data-easing="Power3.easeIn"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="1"
                    data-endelementdelay="0.1"
                    data-endspeed="500"
                    style="z-index: 4; max-width: auto;">
                        <a class="btn btn-primary btn-md" href="residential.html">Residential &nbsp; <i class="fa fa-angle-right"></i></a>
                </div>

            </li>

            <!-- SLIDE 3 -->
            <li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Corporate" >
                <!-- MAIN IMAGE -->
                <img src="assets/images/slider/AdobeStock_179073967.jpeg" alt="cover image 3"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                <div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

                <div class="tp-caption font-roboto skewfromleft tp-resizeme"
                    data-x="50"
                    data-y="100" 
                    data-speed="500"
                    data-start="1500"
                    data-easing="Cubic.easeOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="500"
                    style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
                        Corporate Building<br />
                        Service
                </div>

                <div class="tp-caption skewfromrightshort tp-resizeme"
                    data-x="50"
                    data-y="300" 
                    data-speed="500"
                    data-start="1000"
                    data-easing="easeInCirc"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="500"
                    style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
                        We are unrivaled in our abilty to provide exceptional <br />
                        service to our clients.
                </div>

                <div class="tp-caption sfb tp-resizeme"
                    data-x="50"
                    data-y="410" 
                    data-speed="500"
                    data-start="1500"
                    data-easing="Power3.easeIn"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="1"
                    data-endelementdelay="0.1"
                    data-endspeed="500"
                    style="z-index: 4; max-width: auto;">
                        <a class="btn btn-primary btnmd" href="commercial.html">Corporate &nbsp; <i class="fa fa-angle-right"></i></a>
                </div>

            </li>

        </ul>

    </div>
</div>
<!-- /REVOLUTION SLIDER -->


<hr class="m-0" /><!-- 1px line separator -->


<!-- BUTTON CALLOUT -->
<a href="#contact" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
    <span class="font-lato fs-30">
        Did Rocket Elevators convince you? 
        <strong>Contact us &raquo;</strong>
    </span>
</a>
<!-- /BUTTON CALLOUT -->



<!-- Services -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img style="height: 250px;" class="img-fluid" src="assets/images/award.jpg" alt="img" />
                <h3 class="mt-10">Awards and Major Projects</h3>
                <p>Over the years, the company has won several awards and completed multiple projects.</p>
                <a href="#portfolio" class="btn btn-red">MORE INFO</a>
            </div>

            <div class="col-sm-4">
                <img style="height: 250px;" class="img-fluid" src="assets/images/residential-building.jpg" alt="img" />
                <h3 class="mt-10">Residential Buildings</h3>
                <p>The Residential domain is one of two major focuses.</p>
                <a href="residential.html" class="btn btn-red">MORE INFO</a>
            </div>

            <div class="col-sm-4">
                <img style="height: 250px;" class="img-fluid" src="assets/images/corporate-building.jpg" alt="img" />
                <h3 class="mt-10">Commercial Buildings</h3>
                <p>Elevators for corporate buildings is the second major focus for the company.</p>
                <a href="commercial.html" class="btn btn-red">MORE INFO</a>
            </div>
        </div>

    </div>
</section>
<!-- /Services -->




<!-- Parallax -->
<section class="parallax parallax-1" style="background-image: url('assets/images/AdobeStock_130711085.jpeg');">
    ]\background-image: url('/assets/bg.jpg')
    <div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

    <div class="container">

        <div class="text-center">
            <h2 class="fs-40 fw-300">Rocket Elevators has been in business since 1976 </h2>
            <a class="btn btn-default btnmd" href="quote.html">GET A QUOTE <i class="fa fa-angle-right"></i></a> 
            &nbsp; OR &nbsp; 
            <a class="btn btn-primary btnmd" href="#contact">CONTACT US <i class="fa fa-angle-right"></i></a>
        </div>

    </div>
</section>
<!-- /Parallax -->




<!-- PORTFOLIO -->
<section id="portfolio">
    <div class="container">

        <div class="heading-title heading-dotted text-center">
            <h2>Portfolio</h2>
        </div>

        <div class="text-center">
            <ul class="nav nav-pills mix-filter mb-60">
                <li data-filter="all" class="filter active"><a href="#">All</a></li>
                <li data-filter="awards" class="filter"><a href="#">Awards</a></li>
                <li data-filter="residential" class="filter"><a href="#">Residential</a></li>
                <li data-filter="commercial" class="filter"><a href="#">Commercial</a></li>
            </ul>
        </div>

    </div>

    <div id="portfolio" class="portfolio-nogutter">

            <div class="row mix-grid">

                <div class="col-md-3 col-sm-3 mix awards"><!-- item -->

                    <div class="item-box">
                        <figure>
                            <span class="item-hover">
                                <span class="overlay dark-5"></span>
                                <span class="inner">

                                    <!-- lightbox -->
                                    <a class="ico-rounded lightbox" href="assets/images/portfolio/Ellies-Winners-202010-1024x1024.png" data-plugin-options='{"type":"image"}'>
                                        <span class="fa fa-plus fs-20"></span>
                                    </a>

                                </span>
                            </span>

                            <img class="img-fluid" src="assets/images/portfolio/Ellies-Winners-202010-1024x1024.png" width="600" height="399" alt="">
                        </figure>

                        <div class="item-box-desc">
                            <h3>Awards</h3>
                            <ul class="list-inline categories m-0">
                            </ul>
                        </div>

                    </div>

                </div><!-- /item -->


                <div class="col-md-3 col-sm-3 mix commercial"><!-- item -->

                    <div class="item-box">
                        <figure>
                            <span class="item-hover">
                                <span class="overlay dark-5"></span>
                                <span class="inner">

                                    <!-- lightbox -->
                                    <a class="ico-rounded lightbox" href="assets/images/portfolio/microsoft.jpg" data-plugin-options='{"type":"image"}'>
                                        <span class="fa fa-plus fs-20"></span>
                                    </a>

                                </span>
                            </span>

                            <img class="img-fluid" src="assets/images/portfolio/microsoft.jpg" width="600" height="399" alt="">
                        </figure>

                        <div class="item-box-desc">
                            <h3>Commercial Project</h3>
                            <ul class="list-inline categories m-0">
                            </ul>
                        </div>

                    </div>

                </div><!-- /item -->


                <div class="col-md-3 col-sm-3 mix awards"><!-- item -->

                    <div class="item-box">
                        <figure>
                            <span class="item-hover">
                                <span class="overlay dark-5"></span>
                                <span class="inner">

                                    <!-- lightbox -->
                                    <a class="ico-rounded lightbox" href="assets/images/portfolio/Elevator-Awards-2018.png" data-plugin-options='{"type":"image"}'>
                                        <span class="fa fa-plus fs-20"></span>
                                    </a>

                                </span>
                            </span>

                            <img class="img-fluid" src="assets/images/portfolio/Elevator-Awards-2018.png" width="600" height="399" alt="">
                        </figure>

                        <div class="item-box-desc">
                            <h3>Awards</h3>
                            <ul class="list-inline categories m-0">
                            </ul>
                        </div>

                    </div>

                </div><!-- /item -->


                <div class="col-md-3 col-sm-3 mix commercial"><!-- item -->

                    <div class="item-box">
                        <figure>
                            <span class="item-hover">
                                <span class="overlay dark-5"></span>
                                <span class="inner">

                                    <!-- lightbox -->
                                    <a class="ico-rounded lightbox" href="assets/images/portfolio/holidayinn-building.jpg" data-plugin-options='{"type":"image"}'>
                                        <span class="fa fa-plus fs-20"></span>
                                    </a>

                                </span>
                            </span>

                            <img class="img-fluid" src="assets/images/portfolio/holidayinn-building.jpg" width="600" height="399" alt="">
                        </figure>

                        <div class="item-box-desc">
                            <h3>Commercial Project</h3>
                            <ul class="list-inline categories m-0">
                            </ul>
                        </div>

                    </div>

                </div><!-- /item -->


                <div class="col-md-3 col-sm-3 mix residential"><!-- item -->

                    <div class="item-box">
                        <figure>
                            <span class="item-hover">
                                <span class="overlay dark-5"></span>
                                <span class="inner">

                                    <!-- lightbox -->
                                    <a class="ico-rounded lightbox" href="assets/images/portfolio/resi3.jpg" data-plugin-options='{"type":"image"}'>
                                        <span class="fa fa-plus fs-20"></span>
                                    </a>

                                </span>
                            </span>

                            <img class="img-fluid" src="assets/images/portfolio/resi3.jpg" width="600" height="399" alt="">
                        </figure>

                        <div class="item-box-desc">
                            <h3>Resedential Project</h3>
                            <ul class="list-inline categories m-0">
                            </ul>
                        </div>

                    </div>

                </div><!-- /item -->


                <div class="col-md-3 col-sm-3 mix awards"><!-- item -->

                    <div class="item-box">
                        <figure>
                            <span class="item-hover">
                                <span class="overlay dark-5"></span>
                                <span class="inner">

                                    <!-- lightbox -->
                                    <a class="ico-rounded lightbox" href="assets/images/portfolio/POY_InclinedElev_19-2-300x225.png" data-plugin-options='{"type":"image"}'>
                                        <span class="fa fa-plus fs-20"></span>
                                    </a>

                                </span>
                            </span>

                            <img class="img-fluid" src="assets/images/portfolio/POY_InclinedElev_19-2-300x225.png" width="600" height="399" alt="">
                        </figure>

                        <div class="item-box-desc">
                            <h3>Awards</h3>
                            <ul class="list-inline categories m-0">
                            </ul>
                        </div>

                    </div>

                </div><!-- /item -->


                <div class="col-md-3 col-sm-3 mix commercial"><!-- item -->

                    <div class="item-box">
                        <figure>
                            <span class="item-hover">
                                <span class="overlay dark-5"></span>
                                <span class="inner">

                                    <!-- lightbox -->
                                    <a class="ico-rounded lightbox" href="assets/images/portfolio/videotron-building.png" data-plugin-options='{"type":"image"}'>
                                        <span class="fa fa-plus fs-20"></span>
                                    </a>

                                </span>
                            </span>

                            <img class="img-fluid" src="assets/images/portfolio/videotron-building.png" width="600" height="399" alt="">
                        </figure>

                        <div class="item-box-desc">
                            <h3>Commercial Project</h3>
                            <ul class="list-inline categories m-0">
                            </ul>
                        </div>

                    </div>

                </div><!-- /item -->


                <div class="col-md-3 col-sm-3 mix residential "><!-- item -->

                    <div class="item-box">
                        <figure>
                            <span class="item-hover">
                                <span class="overlay dark-5"></span>
                                <span class="inner">

                                    <!-- lightbox -->
                                    <a class="ico-rounded lightbox" href="assets/images/portfolio/resi1.jpg" data-plugin-options='{"type":"image"}'>
                                        <span class="fa fa-plus fs-20"></span>
                                    </a>

                                </span>
                            </span>

                            <img class="img-fluid" src="assets/images/portfolio/resi1.jpg" width="600" height="399" alt="">
                        </figure>

                        <div class="item-box-desc">
                            <h3>Residential Project</h3>
                            <ul class="list-inline categories m-0">
                            </ul>
                        </div>

                    </div>

                </div><!-- /item -->


                <div class="col-md-3 col-sm-3 mix commercial "><!-- item -->

                    <div class="item-box">
                        <figure>
                            <span class="item-hover">
                                <span class="overlay dark-5"></span>
                                <span class="inner">

                                    <!-- lightbox -->
                                    <a class="ico-rounded lightbox" href="assets/images/portfolio/cbc-building.png" data-plugin-options='{"type":"image"}'>
                                        <span class="fa fa-plus fs-20"></span>
                                    </a>

                                </span>
                            </span>

                            <img class="img-fluid" src="assets/images/portfolio/cbc-building.png" width="600" height="399" alt="">
                        </figure>

                        <div class="item-box-desc">
                            <h3>Commercial Project</h3>
                            <ul class="list-inline categories m-0">
                            </ul>
                        </div>

                    </div>

                </div><!-- /item -->


                <div class="col-md-3 col-sm-3 mix commercial "><!-- item -->

                    <div class="item-box">
                        <figure>
                            <span class="item-hover">
                                <span class="overlay dark-5"></span>
                                <span class="inner">

                                    <!-- lightbox -->
                                    <a class="ico-rounded lightbox" href="assets/images/portfolio/Bell-building.png" data-plugin-options='{"type":"image"}'>
                                        <span class="fa fa-plus fs-20"></span>
                                    </a>

                                </span>
                            </span>

                            <img class="img-fluid" src="assets/images/portfolio/Bell-building.png" width="600" height="399" alt="">
                        </figure>

                        <div class="item-box-desc">
                            <h3>Commercial Project</h3>
                            <ul class="list-inline categories m-0">
                            </ul>
                        </div>

                    </div>

                </div><!-- /item -->


                <div class="col-md-3 col-sm-3 mix residential "><!-- item -->

                    <div class="item-box">
                        <figure>
                            <span class="item-hover">
                                <span class="overlay dark-5"></span>
                                <span class="inner">

                                    <!-- lightbox -->
                                    <a class="ico-rounded lightbox" href="assets/images/portfolio/resi2.jpeg" data-plugin-options='{"type":"image"}'>
                                        <span class="fa fa-plus fs-20"></span>
                                    </a>

                                </span>
                            </span>

                            <img class="img-fluid" src="assets/images/portfolio/resi2.jpeg" width="600" height="399" alt="">
                        </figure>

                        <div class="item-box-desc">
                            <h3>Residential Project</h3>
                            <ul class="list-inline categories m-0">
                            </ul>
                        </div>

                    </div>

                </div><!-- /item -->


                <div class="col-md-3 col-sm-3 mix commercial "><!-- item -->

                    <div class="item-box">
                        <figure>
                            <span class="item-hover">
                                <span class="overlay dark-5"></span>
                                <span class="inner">

                                    <!-- lightbox -->
                                    <a class="ico-rounded lightbox" href="assets/images/portfolio/marriott.jpeg" data-plugin-options='{"type":"image"}'>
                                        <span class="fa fa-plus fs-20"></span>
                                    </a>

                                </span>
                            </span>

                            <img class="img-fluid" src="assets/images/portfolio/marriott.jpeg" width="600" height="399" alt="">
                        </figure>

                        <div class="item-box-desc">
                            <h3>Commercial Project</h3>
                            <ul class="list-inline categories m-0">
                            </ul>
                        </div>

                    </div>

                </div><!-- /item -->

            </div>


    </div>
</section>
<!-- /PORTFOLIO -->


<<<<<<< HEAD
=======
>>>>>>> website_conversion
>>>>>>> main





<!-- Testimonials -->
<section id="team" class="section-xs dark">
<div class="container">

<<<<<<< HEAD
=======
<<<<<<< HEAD
    <div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
        <div id="CEO" class="testimonial">
            <figure>
                <img class="rounded" src="assets/images/testimonial/CEO.PNG" alt="CEO" />
=======
>>>>>>> main
    <div class="carousel-inner" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
        <div id="CEO" class="testimonial">
            <figure>
                <%= image_tag("testimonial/CEO.PNG", alt: "CEO", class: "img-responsive") %>                
<<<<<<< HEAD
=======
>>>>>>> website_conversion
>>>>>>> main
            </figure>
            <div class="testimonial-content p-0">
                <p class="lead">CEO of Rocket Elevators</p>
                <cite>
                    Patrick THibault
                    <span>CEO</span>
                </cite>
            </div>
        </div>
        <div id="employee" class="testimonial">
            <figure>
<<<<<<< HEAD
                <%= image_tag("testimonial/employee-of-the-month.PNG", alt: "Employee of the Month", class: "img-responsive") %>                
=======
<<<<<<< HEAD
                <img class="rounded" src="assets/images/testimonial/employee-of-the-month.PNG" alt="Employee of the Month" />
=======
                <%= image_tag("testimonial/employee-of-the-month.PNG", alt: "Employee of the Month", class: "img-responsive") %>                
>>>>>>> website_conversion
>>>>>>> main
            </figure>
            <div class="testimonial-content p-0">
                <p class="lead">Full-Stack Software Developer</p>
                <cite>
                    Shaphan Charles
                    <span>Employee of the Month</span>
                </cite>
            </div>
        </div>
    </div>

</div>
</section>
<!-- /Testimonials -->





<!-- News -->
<section id="news">
<div class="container">

    <div class="heading-title heading-dotted text-center">
        <h2>Recent News</h2>
    </div>

    <div class="carousel-inner" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
        <div class="img-hover">
            <a target="_blank" href="https://www.independent.co.uk/news/world/americas/man-saved-woman-s-life-pushing-her-out-falling-elevator-block-flats-manhattan-a6793816.html">
            <%= image_tag("news/life_saved.png", alt: "falling", class: "img-responsive") %>                
            </a>

            <h4 class="text-left mt-20"><a target="_blank" href="https://www.independent.co.uk/news/world/americas/man-saved-woman-s-life-pushing-her-out-falling-elevator-block-flats-manhattan-a6793816.html">Falling Elevator</a></h4>
            <p class="text-left">"Man saved woman's life by pushing her out of falling elevator."</p>
            <ul class="text-left fs-12 list-inline list-separator">
                <li>
                    <i class="fa fa-calendar"></i> 
                    May 2nd, 2016
                </li>
            </ul>
        </div>
        <div class="img-hover">
            <a target="_blank" href="https://elevatortoday.com/2014/09/14/dirtiest-place-hospitals-elevator-buttons/">
                <img style="height: 200px; width: 350px;" class="img-fluid" src="assets/images/news/" alt="new normal">
                <%= image_tag("news/dirtiest.jpg", alt: "falling", class: "img-responsive") %>                
            </a>

            <h4 class="text-left mt-20"><a target="_blank" href="https://elevatortoday.com/2014/09/14/dirtiest-place-hospitals-elevator-buttons/">Dirty Elevator Buttons</a></h4>
            <p class="text-left">Hospital buttons might be the dirtiest places in a hospital.</p>
            <ul class="text-left fs-12 list-inline list-separator">
                <li>
                    <i class="fa fa-calendar"></i> 
                    Sep 14th, 2014
                </li>
            </ul>
        </div>
        <div class="img-hover">
            <a target="_blank" href="https://www.ctvnews.ca/health/coronavirus/new-normal-elevators-moving-touchless-mobile-and-sideways-1.5045643">
                <img style="height: 200px; width: 350px;" class="img-fluid" src="assets/images/news/touchless.jpg" alt="touchless">
            </a>

            <h4 class="text-left mt-20"><a target="_blank" href="https://www.ctvnews.ca/health/coronavirus/new-normal-elevators-moving-touchless-mobile-and-sideways-1.5045643">New Normal</a></h4>
            <p class="text-left">Using touchless, sideways and mobile to move elevators.</p>
            <ul class="text-left fs-12 list-inline list-separator">
                <li>
                    <i class="fa fa-calendar"></i> 
                    Jul 31th, 2020
                </li>
            </ul>
        </div>
        <div class="img-hover">
            <a target="_blank" href="https://www.independent.co.uk/news/world/americas/elevator-dog-video-rescue-leash-pomeranian-twitter-a9244431.html">
                <img style="height: 200px; width: 350px;" class="img-fluid" src="assets/images/news/dog_rescue.png" alt="rescue">
            </a>

            <h4 class="text-left mt-20"><a target="_blank" href="https://www.independent.co.uk/news/world/americas/elevator-dog-video-rescue-leash-pomeranian-twitter-a9244431.html">Man rescues Dog</a></h4>
            <p class="text-left">"Dog's leash get caught in elevator doors."</p>
            <ul class="text-left fs-12 list-inline list-separator">
                <li>
                    <i class="fa fa-calendar"></i> 
                    Dec 12th, 2019
                </li>
            </ul>
        </div>
        <div class="img-hover">
            <a target="_blank" href="https://elevatortoday.com/2013/04/19/the-worlds-most-unusual-elevators/">
                <img style="height: 200px; width: 350px;" class="img-fluid" src="assets/images/news/unusual.jpg" alt="unusual">
            </a>
            <h4 class="text-left mt-20"><a target="_blank" href="https://elevatortoday.com/2013/04/19/the-worlds-most-unusual-elevators/">Unusual Elevators</a></h4>
            <p class="text-left">"The world's most unusual elevators.<"/p>
            <ul class="text-left fs-12 list-inline list-separator">
                <li>
                    <i class="fa fa-calendar"></i> 
                    Apr 19th, 2013
                </li>
            </ul>
        </div>
        <div class="img-hover">
            <a target="_blank" href="https://elevatortoday.com/2020/03/03/thyssenkrupp-sells-elevator-technology-business-for-e17-2-billion/">
                <img style="height: 200px; width: 350px;" class="img-fluid" src="assets/images/news/thyssenkrupp-headquaters.jpg" alt="sold">
            </a>
            <h4 class="text-left mt-20"><a target="_blank" href="https://elevatortoday.com/2020/03/03/thyssenkrupp-sells-elevator-technology-business-for-e17-2-billion/">ThyssenKrupp for sale</a></h4>
            <p class="text-left">"ThyssenKrupp sells it's business for 17.2 billion euro."</p>
            <ul class="text-left fs-12 list-inline list-separator">
                <li>
                    <i class="fa fa-calendar"></i> 
                    Mar 3rd, 2020
                </li>
            </ul>
        </div>
    </div>

</div>
</section>
<!-- /News -->




<!-- Clients -->
<section id="clients" class="alternate">
<div class="container">

    <div class="heading-title heading-dotted text-center">
        <h2>Our Customers</h2>
    </div>

    <ul class="row clients-dotted list-inline">
        <li class="col-md-3 col-sm-3 col-6">
            <a >                
                <%= image_tag("logos/cisco_logo.png", width: 200) %>     
            </a>
        </li>
        <li class="col-md-3 col-sm-3 col-6">
            <a >
                <%= image_tag("logos/concordia_logo.png", width: 200) %>     
            </a>
        </li>
        <li class="col-md-3 col-sm-3 col-6">
            <a >
                <%= image_tag("logos/mcgill_logo.png", width: 200) %>
            </a>
        </li>
        <li class="col-md-3 col-sm-3 col-6">
            <a >
                <%= image_tag("logos/microsoft_logo.png", width: 200) %>
            </a>
        </li>
        <li class="col-md-3 col-sm-3 col-6">
            <a >
                <%= image_tag("logos/muhc_logo.png", width: 200) %>
            </a>
        </li>
        <li class="col-md-3 col-sm-3 col-6">
            <a >
                <%= image_tag("logos/Walmart_logo.jpg", width: 200) %>
            </a>
        </li>
        <li class="col-md-3 col-sm-3 col-6">
            <a >
                <%= image_tag("logos/bmo_logo.png", width: 200) %>
            </a>
        </li>
        <li class="col-md-3 col-sm-3 col-6">
            <a >
                <%= image_tag("logos/cbc_logo.jpg", width: 200) %>
            </a>
        </li>
        <li class="col-md-3 col-sm-3 col-6">
            <a >
                <%= image_tag("logos/bell_logo.png", width: 200) %>
            </a>
        </li>
        <li class="col-md-3 col-sm-3 col-6">
            <a >
                <%= image_tag("logos/videotron_logo.jpg", width: 200) %>
            </a>
        </li>
        <li class="col-md-3 col-sm-3 col-6">
            <a >
                <%= image_tag("logos/marriott_logo.png", width: 200) %>
            </a>
        </li>
        <li class="col-md-3 col-sm-3 col-6">
            <a >
                <%= image_tag("logos/h_inn_logo.png", width: 200) %>
            </a>
        </li>						
    </ul>

</div>
</section>
<!-- /Clients -->




<!-- CONTACT -->
<section id="contact">
<div class="container">

    <header class="text-center mb-60">
        <h2>Contact Us</h2>
        <p class="lead font-lato"></p>
        <hr />
    </header>


    <div class="row">

        <!-- FORM -->
        <div class="col-md-8 col-sm-8">

            <h3>Drop us a line or just say <strong><em>Hello!</em></strong></h3>

            
            <!--
                MESSAGES
                
                    How it works?
                    The form data is posted to php/contact.php where the fields are verified!
                    php.contact.php will redirect back here and will add a hash to the end of the URL:
                        #alert_success 		= email sent
                        #alert_failed		= email not sent - internal server error (404 error or SMTP problem)
                        #alert_mandatory	= email not sent - required fields empty
                        Hashes are handled by assets/js/contact.js

                    Form data: required to be an array. Example:
                        contact[email][required]  WHERE: [email] = field name, [required] = only if this field is required (PHP will check this)
                        Also, add `required` to input fields if is a mandatory field. 
                        Example: <input required type="email" value="" class="form-control" name="contact[email][required]">

                    PLEASE NOTE: IF YOU WANT TO ADD OR REMOVE FIELDS (EXCEPT CAPTCHA), JUST EDIT THE HTML CODE, NO NEED TO EDIT php/contact.php or javascript
                                 ALL FIELDS ARE DETECTED DINAMICALY BY THE PHP

                    WARNING! Do not change the `email` and `name`!
                                contact[name][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
                                contact[email][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
            -->

            <!-- Alert Success -->
            <div id="alert_success" class="alert alert-success mb-30">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Thank You!</strong> Your message successfully sent!
            </div><!-- /Alert Success -->


            <!-- Alert Failed -->
            <div id="alert_failed" class="alert alert-danger mb-30">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>[SMTP] Error!</strong> Internal server error!
            </div><!-- /Alert Failed -->


            <!-- Alert Mandatory -->
            <div id="alert_mandatory" class="alert alert-danger mb-30">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Sorry!</strong> You need to complete all mandatory (*) fields!
            </div><!-- /Alert Mandatory -->


            <form>
                <fieldset>
                    <input type="hidden" name="action" value="contact_send" />

                    <div class="row">
                        <div class="col-md-4">
                            <label for="contact:name">Contact Full Name *</label>
                            <input id="name" required type="text" value="" class="form-control" name="contact[name][required]">
                        </div>
                        <div class="col-md-4">
                            <label for="contact:email">E-mail Address *</label>
                            <input id="email" required type="email" value="" class="form-control" name="contact[email][required]">
                        </div>
                        <div class="col-md-4">
                            <label for="contact:phone">Phone Number</label>
                            <input id="phone" type="text" value="" class="form-control" name="contact[phone]">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="contact:company_name">Business Name</label>
                            <input id="company_name" type="text" value="" class="form-control" name="contact[company_name]">
                        </div>
                        <div class="col-md-6">
                            <label for="contact:project_name">Project Name</label>
                            <input id="project_name" type="text" value="" class="form-control" name="contact[project_name]">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label for="contact:project_description">Project Description *</label>
                            <input id="project_description" required type="text" value="" class="form-control" name="contact[project_description][required]">
                        </div>
                        <div class="col-md-4">
                            <label for="contact_department">Department</label>
                            <select id="department" class="form-control pointer" name="contact[department]">
                                <option value="">--- Select ---</option>
                                <option value="Marketing">Marketing</option>
                                <option value="Sales">Sales</option>
                                <option value="Management">Management</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="contact:message">Message *</label>
                            <textarea id="message" required maxlength="10000" rows="8" class="form-control" name="contact[message]"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="contact:attachment">File Attachment</label>

                            <!-- custom file upload -->
                            <input id="attachment" class="custom-file-upload" type="file" name="contact[attachment]" data-btn-text="Select a File" />
                            <small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

                        </div>
                    </div>

                </fieldset>

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</button>
                    </div>
                </div>
            </form>

        </div>
        <!-- /FORM -->


        <!-- INFO -->
        <div class="col-md-4 col-sm-4">

            <h2>Visit Us</h2>

            <!-- 
            Available heights
                h-100
                h-150
                h-200
                h-250
                h-300
                h-350
                h-400
                h-450
                h-500
                h-550
                h-600
            -->
            <div id="map">
                <iframe width="300" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" 
                src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=4468%20wellington%20st%20suite%20204%20verdun+(codeboxx%20)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                </iframe> 
            </div>

            <hr />

            <p>
                <span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 4468 Wellington St Suite 204, Verdun, Quebec H4G 1W5</span>
                <span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:418-555-1234">(418) 555-1234</a></span>
                <span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></span>
            </p>

        </div>
        <!-- /INFO -->

    </div>

</div>
</section>
<!-- /CONTACT -->




<!-- FOOTER -->
<footer id="footer">
<div class="container">


    <div class="row">

        <!-- col #1 -->
        <div class="col-md-8">

            <h3 class="letter-spacing-1">WHY US?</h3>

            <!-- Small Description -->
            <p>
                We have the conviction that we create the most innovative and reliable products on the market. 
                Contact us today for any questions you might have.
            </p>
            <h2>(418) 555-1234</h2>
        </div>
        <!-- /col #1 -->


    </div>


</div>

<div class="copyright">
    <div class="container">
        <ul class="float-right m-0 list-inline mobile-block">
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li>&bull;</li>
            <li><a href="#">Privacy</a></li>
        </ul>
        &copy; All Rights Reserved, Company LTD
    </div>
</div>

</footer>
<!-- /FOOTER -->

</div>
<!-- /wrapper -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>
